<ion-header class="header">
  <ion-navbar color="primary">
    <ion-title>
      发现
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <ion-item class="item" *ngFor="let item of items">
      <div class="top">
        <img class="image" src="{{item.image}}" />
        <div class="right">
          <p class="name">{{item.name}}</p>
          <p class="time">{{item.time}}</p>
        </div>
      </div>

      <div class="bottom">
        <p>{{item.content}}</p>
        <div class="images">
          <ion-thumbnail class="thums thum{{item.imgslength}}" *ngFor="let img of item.imgs">
            <img src="{{img.url}}">
          </ion-thumbnail>
        </div>
      </div>

    </ion-item>

  </ion-list>

  <button class="mybutton" (click)="goContactUP()" ion-button icon-only>
    <ion-icon class="myicon" name="md-add-circle"></ion-icon>
  </button>


</ion-content>