
page-contact{
    .content{
        background:#eee;
        .item{
            margin-bottom:5%;
            // 头像、昵称、时间
            .top{
                width:100%;
                margin-bottom:3%;
                .image{
                    width:40px;
                    height:40px;
                    border-radius: 50%;
                    float: left;
                }
                .right{
                    float: left;
                    width:70%;
                    margin-left:3%;
                    height:100%;
                    .name{
                        font-weight: bold;
                        color:#000;
                    }
                    .time{
                        font-size:12px;

                    }
                }
            }
            
            //
            .bottom{
                width:100%;
                clear: both;
                .images{
                    .thums{
                        // float: left;
                        margin:1%;
                        img{
                            width:100px;
                            height:100px;
                        }
                        .avatar{
                            display: none;
                        }
                    }
                }
            }
        }
        .mybutton{
            position:fixed;
            right:3%;
            font-size:14px;
            bottom:12%;
        }
    }// content
    ion-footer{
        width:12%;
        font-size: 22px;
        text-align: center;
        background:#488aff;
        color:#fff;
        padding-top:1.5%;
        position:fixed;
        left:85%;
        top:83%;
        margin-bottom:5%;
        padding-bottom:8%;
        border-radius:5%;
    }
    ion-content.has-refresher > .scroll-content{
        margin-bottom:13%!important;
        // background:#000;
    }
    ion-label{
        white-space: normal;
    }
    .header{
        text-align: center;
    }
}