page-login {
    *{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .header-md::after{
        background:none;
    }
    .login-header .icon{
        position: absolute;
        left: 5%;
        top: 16%;
    }
    .body{
        background-image: url(../assets/imgs/login.png);
        background-size: 100% 100%;
        width:100%;
    }

    // 登录
    .login-header{
        text-align: center;
        color:#fff;
        width: 100%;
        font-size: 20px;
        margin-top: 5%;
        // margin-bottom:30%;
    }

    // content
    .content{
        padding: 30% 6% 0 2%;
        width:100%;
        margin: 0 auto;
    }

    // input
    .items{
        color:#fff;
        margin-top: 3%;
        background:none;
    }
    .items-input{
        text-align: left!important;
    }
    .item-ios.item-block .item-inner{
        border:none;
    }
    input{
        text-align: left;
    }

    // login button
    .button{
        width:94%;
        font-size: 16px;
        height: 50px;
        float: right;
        margin-top: 15%;
        margin-bottom: 10%;
    }

    p{
        color:white;
        float: right;
        a{
            text-decoration: underline;
        }
    }
}
