<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

  <ion-navbar color="primary">
    <ion-title>
      消息
      <ion-icon (click)="goaddFriend()" class="icon" name="md-add"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingText="下拉刷新" refreshingText="刷新中"></ion-refresher-content>
    </ion-refresher>

  <div padding class="top">
    <ion-segment color="primary" [(ngModel)]="info">
      <ion-segment-button value="好友">
        好友
      </ion-segment-button>
      <ion-segment-button value="群组">
        通知
      </ion-segment-button>
    </ion-segment>
  </div>
      
  <div id="bottom" class="bottom" [ngSwitch]="info">

    <!-- 群组 -->
    <ion-list *ngSwitchCase="'群组'">
      <ion-item class="myitem" (click)="choose(item.messageFrom,item.messageID,item.status)" *ngFor="let item of arr">
        <p class="name">{{item.userName}}</p>
        <p>{{item.messageContent}}</p>
        <p class="time">{{item.messageTime}}</p>
        <p class="status" [ngStyle]="{'color':item.status == '已读'?'red':'#999'}" >{{item.status == '已处理'? item.status:'未处理'}}</p>
      </ion-item>
    </ion-list>

    <!-- 好友 -->
    <ion-list *ngSwitchCase="'好友'">
      <ion-item (click)="goDetail(item.userID,item.avatar,item.userName)" *ngFor="let item of personitems">
        <ion-thumbnail  class="thumbnail"  item-start>
            <img src="{{item.avatar}}" class="image"> 
        </ion-thumbnail>
          <p class="name">{{item.userName}}</p>
          <p>{{item.info}}</p>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
