page-info {
    .header{
        text-align: center;
        .icon{
            float: right;
        }
    }
    .top{
        width:100%;
        padding:0!important;
        // height:60px;
        // margin:-16px 0 0 -16px;
    }
    .bottom{
        padding:1% 0;
        .image{
            width:80px;
            height:80px;
            border-radius:50%;
        }
        .thumbnail{
            width:25%;
        }
    }
    .myitem{
        height:80px;
    }
    .name{
        font-size: 16px;
        color:#000;
        font-weight: bold;
    }
    .time{
        float: right;
        margin-top:-20px;
        margin-right:3px;
    }
    .status{
        position: relative;
        top:-45px;
        left:86%;
    }
    .item-md{
        padding-left:0;
        margin-left:16px;
    }
    .segment-md-primary .segment-button{
        font-size:14px;
    }
}
