page-my-act {
    .header{
        text-align: center;
    }
    .title{
        padding-right:20%;
    }
    .content{
        margin-top:1px;
        width:100%;
        height:100%;
        .grid{
            padding:5px 0;
            text-align: center;
            #empty,#myempty{
                display: block;
                .upto{
                    color:#488aff;
                    font-size: 18px;
                }
            }
            .search{
                // margin:0;
                margin-top:-4px;
                // padding:0;
            }
        }   // grid
        .items{
            border-bottom:1px solid #eee;
            .item-imgs{
                width:25%;
                // border-radius:50%;
            }
            .right{
                width:70%;
                float: right;
                font-size: 12px;
                .delete{
                    color:#666;
                    font-size: 18px;
                    // float: right;
                    position: absolute;
                    top:15px;
                    right:10px;
                }
                .title{
                    font-size:16px;
                    font-weight: bold;
                    color:#000;
                }
                .detail{
                    color:#ddd;
                    font-size: 12px;
                    .left-span{
                        margin-right:10px;
                        color:#666;
                    }
                    .right-span{
                        margin-left:10px;
                        color:#666;
                    }
                    span{
                        color:#666;
                    }
                }   // detail
                .position{
                    font-size: 12px;
                    color:#666;
                    ion-icon{
                        color:#488aff;
                    }
                }
                .price{
                    color:#f00;
                    font-size: 12px;
                    span{
                        font-size:16px;
                    }
                }
            } // right
        } // items
    }
    .searchbar-md{
        padding:0 0 8px 0;
        width:100%;
    }
    .searchbar-md .searchbar-input{
        padding:6px 40px;
        line-height: 2em;
    }
    .searchbar-md .searchbar-search-icon{
        left:10px;
    }
    .item-md{
        padding-right:16px;
    }
    .segment-md-primary .segment-button{
        font-size:14px;
    }
}
