page-about-order {
    text-align: center;
    .header{
        text-align: center;
        .title{
            padding-right:20%;
        }
    }
    .top{
        text-align: center;
        padding:5%;
        .image{
            margin:0 auto;
            width:100px;
            height:100px;
            background-size: 100% 100%!important;
            background-repeat: no-repeat!important;
            background-position: 50%!important;
            border-radius: 50%;
            margin-top:10%;
            margin-bottom:5%;
        }
        .name{
            font-size: 18px;
            font-weight: bold;
            margin-bottom:8%;
        }
        .intro{
            font-size: 14px;
            // text-align: left;
            width:90%;
            margin: 0 auto;
        }
    }
    .button{
        margin-top:20%;
        font-size: 16px;
        height:40px;
        width:90%;
    }
}
