page-about-order {
    text-align: center;
    .header{
        text-align: center;
        .title{
            padding-right:20%;
        }
    }
    .last-list{
        margin-top:10%;
        text-align: center;
        .item{
            text-align: left;
            font-size: 16px;
            color:#999;
            .icon{
                color:#000;
                padding: 0 3px 0 20px;
            }
        }
    }
    .textarea{
        border:1px solid #dedede;
        margin-top:2%;
    }
    .button{
        margin-top:3%;
        width:90%;
    }
}
