<ion-header>
  <ion-navbar color="primary" style="text-align: center;">
    <ion-title color="primary">
      约运动
    </ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content class="content">

  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新" refreshingText="刷新中"></ion-refresher-content>
  </ion-refresher>

  <!-- segment 组件 -->
  <ion-segment [(ngModel)]="actype" color="primary">
    <ion-segment-button value="order">
      场地预约
    </ion-segment-button>
    <ion-segment-button value="join">
      参加活动
    </ion-segment-button>
  </ion-segment>

  <!-- segment 选项 -->
  <div [(ngSwitch)]="actype">

    <!-- 场地预约 -->    
    <ion-grid class="grid" *ngSwitchCase="'order'">
      <!-- <ion-searchbar class="search" color="primary" placeholder="场地搜索"></ion-searchbar> -->
      <ion-list>
        <ion-item no-lines *ngFor="let item of addressitems" (click)="goSite(item)" class="items">
          <img class="item-imgs" src="{{item.imgURL}}" alt="场地图片">
          <div class="right">
            <p class="title">{{item.vanueName}}</p>
            <p class="detail">
              <span class="left-span">{{item.vanueAssess}}分</span>|
              <span class="right-span">成交{{item.vanueOrder}}笔</span>
            </p>
            <p class="position"> 
              <ion-icon name="md-pin"></ion-icon> 
              {{item.vanuePlace}}
            </p>
            <p class="price">￥<span>{{item.vanuePrice}}</span>/小时</p>
          </div>
        </ion-item>
      </ion-list>
    </ion-grid>



    <!-- 参加活动 -->
    <ion-grid class="grid" *ngSwitchCase="'join'">
      <!-- <ion-searchbar class="search" color="primary" placeholder="活动搜索"></ion-searchbar> -->
      <ion-list>
        <ion-item no-lines *ngFor="let item of myactitems" (click)="goAct(item)" class="items">
          <img class="item-imgs" src="{{item.imgURL}}" alt="场地图片">
          <div class="right">
            <p class="title">{{item.actName}}</p>
            <p class="detail">
              <span class="left-span">{{item.billingMethods}}</span> | 
              <span class="right-span">人数:{{item.actNum}}</span>
            </p>
            <p class="position"> 
              <ion-icon name="md-pin"></ion-icon> 
              {{item.actPlace}}
            </p>
            <p class="time">{{item.actTime}}</p>
          </div>
        </ion-item>
      </ion-list>
      
      

    </ion-grid>
    
  </div>

</ion-content>

<ion-footer class="mybutton" (click)="goaboutUp()">
  <!-- <button> -->
    <ion-icon class="myicon" name="md-add-circle"></ion-icon>
  <!-- </button> -->
</ion-footer>
