page-about {
    *{
        padding:0;
        margin:0;
    }
    .content{
        margin-top:1px;
        width:100%;
        height:100%;
        .grid{
            padding:5px 0;
            text-align: center;
            .mybutton{
                // float: right;
                position:fixed;
                right:3%;
                font-size:14px;
                bottom:60px;
            }
            .search{
                margin-top:-4px;
            }
        }   // grid
        .items{
            border-bottom:1px solid #eee;
            .item-imgs{
                display: inline-block;
                // width:25%;
                width:100px;
                height:80px;
                // clip:rect(0px 0px 20px 20px);
                background-size: 100% !important;
                background-repeat: no-repeat!important;
                background-position: 50%!important;
                border-radius:5%;
            }
            .right{
                width:65%;
                float: right;
                font-size: 12px;
                .delete{
                    color:#666;
                    font-size: 18px;
                    position: absolute;
                    top:15px;
                    right:10px;
                }
                .title{
                    font-size:16px;
                    font-weight: bold;
                    color:#000;
                }
                .detail{
                    color:#ddd;
                    font-size: 12px;
                    .left-span{
                        margin-right:10px;
                        color:#666;
                    }
                    .right-span{
                        margin-left:10px;
                        color:#666;
                    }
                    span{
                        color:#666;
                    }
                }   // detail
                .position{
                    font-size: 12px;
                    color:#666;
                    ion-icon{
                        color:#488aff;
                    }
                }
                .price{
                    color:#f00;
                    font-size: 12px;
                    span{
                        font-size:16px;
                    }
                }
            } // right
        } // items
    }
    ion-footer{
        width:12%;
        font-size: 22px;
        text-align: center;
        background:#488aff;
        color:#fff;
        padding-top:1.5%;
        position:fixed;
        left:85%;
        top:83%;
        margin-bottom:5%;
        padding-bottom:8%;
        border-radius:5%;
    }
    .searchbar-md{
        padding:0 0 8px 0;
        width:100%;
    }
    .searchbar-md .searchbar-input{
        padding:6px 40px;
        line-height: 2em;
    }
    .searchbar-md .searchbar-search-icon{
        left:10px;
    }
    .item-md{
        padding-right:16px;
    }
    .segment-md-primary .segment-button{
        font-size:14px;
    }
    ion-content.has-refresher > .scroll-content{
        margin-bottom:13%!important;
        // background:#000;
    }
}
