page-home-topic {
    background:#dedede;
    .header{
        text-align: center;
        .title{
            padding-right: 20%;
        }
    }

    ion-slides{
        height:auto;
        .images{
            height:240px;
            width:100%;
        }
    }
    .content{
        background:#eee;
    }
    .mylist{
        margin-top:-1%;
        .item{
            padding-left:5%;
            width:100%;
            background:#fff;
        }
        .time{
            padding:0;
            margin:0;
            display: inline-block;
            line-height: 24px;
            font-size: 12px;
        }
        
        .name{
            margin:0;
            padding:0;
            margin-top:5%;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
        }
        .grade{
            font-size:14px;
            padding-left: 2%;
            display: inline-block;
        }
        .place{
            font-size: 16px;
            padding:0;
            margin:0;
            margin-top:2%;
            margin-bottom:4%;
        }


    }// list

    .content-list{
        background:#eee;
        width:100%;
        margin:0;
        padding:0;
        margin-bottom:5%;
        .item{
            margin-top:5%;
            background:#fff;
            // 头像、昵称、时间
            .top{
                width:100%;
                margin-bottom:3%;
                .image{
                    width:40px;
                    height:40px;

                    border-radius: 50%;
                    float: left;
                }
                .right{
                    float: left;
                    width:70%;
                    margin-left:3%;
                    height:100%;
                    .name{
                        font-weight: bold;
                        font-size: 14px;
                        color:#000;
                        display: inline-block;
                    }
                    .time{
                        font-size:12px;
                        display: inline-block;
                    }
                }
            }
            
            //
            .bottom{
                width:100%;
                clear: both;
                .images{
                    .thums{
                        float: left;
                        margin:1%;
                        img{
                            width:100px;
                            height:100px;
                        }
                    }
                }
            }
        }
    }
    ion-label{
        white-space: normal;
    }
    .list-md .item-block .item-inner{
        border:none;
    }

    // footer
    .infodetail-footer{
        background:#ffffff;
        width:100%;
        height:45px;
        position: fixed;
        bottom:0;
    }
    .color-icon{
        font-size: 35px;
        padding:5px;
        color:#488aff;
    }
    .infodetail-input{
        margin-left:5%;
        border:none;
        margin-top:10px;
        font-size: 16px;
        width:75%;
    }
    .footer-float {
        float: left;
    }
    .button{
        width:16%;
        height:35px;
        margin-left:2%;
    }

}
