#silde{
    height:auto;

}
.title{
text-align:center;
}
.it{
    width: 27%;
    float: left;
    margin-left: 6.65%;     
    height: 50%; 
}
.it img{
     width: 100px;
    height: 100px;   
  
    margin-left: 10%;   
    border-radius: 50%;
}
.it p{
    margin-bottom: 8%;
    margin-top: 25%;
    margin-left: 40%;
}
.images{
    width:100%;
    height:80px;
}